body{
	background-color: #fff;
}

.container {
	margin: 0 auto;
	width: 1280px;
	box-sizing: border-box;
	font-family: "Myriad Pro", sans-serif;
}


a {
	text-decoration: none;
}
.btn{
	width: 200px;
	height: 50px;
	border-radius: 10px;
	background-color: #fff;
	border: 4px solid #a9a9a9;
	color: #2c2b2b;
	font-size: 25px;
}
.logo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 40px;
}
.logo a {
	color: #000;
}
.logo span {
	color: #4bcaff;
}


.top-bar {
	box-sizing: border-box;
	height: 70px;
	font-size: 24px;
	text-align: center;
	background-color: #35444f;	
}
.top-bar a {
	display: inline-block;
	padding: 20px 25px;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	color: #fff;
}
.top-bar a:hover {
	border-right: 1px solid white;
	border-left: 1px solid white;
	background-color: #222f3a;
}


ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}

.left-side-bar {
	display: inline-block;
	vertical-align: top;
	margin-top: 50px;
	width: 345px;
	height: 400px;
	box-sizing: border-box;
	border: 1px solid #485863;
}
.left-side-bar a{
	display: inline-block;
	padding-left: 45px;
	width: 300px;
	height: 79px;
	line-height: 80px;
	font-size: 27px;
	color: #485863;
}
.left-side-bar a:hover {
	padding-left: 70px;
	width: 271px;
	background-color: #DCDCDC;
	color: #000;
}


.around-image {
	display: inline-block;
	margin-top: 50px;
	margin-left: 45px;
	width: 885px;
	height: 530px;
	box-sizing: border-box;
	border: 1px solid #485863;
	text-align: center;	
}

.bull-image {
	padding: 75px 280px;
	width: 320px;
	height: 381px;
	
	overflow: hidden;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
}
.bull-image:hover{
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
 }

 
.paragraph {
	margin-left: 395px;
	padding: 30px;
	font-size: 18px;
	line-height: 24px;
	color: #2c2b2b;
}


.bottom-bar {
	padding-left: 35px;
	height: 70px;
	font-size: 28px;
	background-color: #a9a9a9;
}
.bottom-bar a {
	padding: 10px;
	color: #0c1927;
}
.bottom-bar a:hover {
	text-decoration: underline;
	color: #3181a6;
}
.bottom-bar p {
	display: inline-block;
	padding-left: 100px;
	font-size: 24px;
	color: #010000;
}